<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" *ngIf = '!users.isUserLoggedIn()'>
      <ion-icon name="flash"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2"  *ngIf = 'users.isUserLoggedIn()'>
      <ion-icon name="apps"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3"  *ngIf = 'users.isUserLoggedIn()'> 
      <ion-icon name="send"></ion-icon>
      <ion-label>Current Room</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
