<ion-header>
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-label margin>Hello <strong>{{users.getCurrentUser().username}}</strong> here are your rooms:</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let room of users.getRoomsForCurrentUser()" routerLink="/tabs/tab3/{{room.id}}">
      <ion-icon name={{room.iconName}} slot='start'></ion-icon><ion-label>{{room.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
